:root {
    --bg-green: "#ebf7d4";
    --main-green: "#517d0f";
    --bg-yellow: "#fff0b3";
    --main-yellow: "#936e10";
    --bg-grey: "#ebeff2";
    --main-grey: "#a0aebd";
    width: 100%
}

.guestTimeView {
    width: 100%;
    display: flex;
    margin: auto;
    padding: auto;
}

.meetingData {
    display: flex;
    flex-direction: column;
    margin: 15px 15px;
}

p {
    margin: 0;
}

.eventMetadata h6 {
    margin: 0;
    font-size: 1.125rem;
}

.schedulingTool {
    display: flex;
    flex-direction: column;
}

.newEntryRow {
    display: flex;
}

.newEntryRow p.nameText {
    font-weight: 500;
    font-size: 1.125rem;
}

.existingEntryRow {}

.timeColumns {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-auto-columns: minmax(90px, 1fr);
    grid-auto-flow: column;
    position: relative;
    will-change: auto;
}

p.date-header {
    margin: 0;
    font-weight: 700;
    font-size: 2rem;
    color: black;
}

p.day-month-header {
    margin: 0;
    font-weight: 500;
    font-size: 0.875rem;
    color: black;
}

.timeComponent p {
    margin: 0;
    text-align: center;
}

/* .mtg-cannot {
    background: "none";
}

.mtg-cannot:hover {
    background: var(--bg-grey);
}

.mtg-can {
    background: var(--bg-green);
}

.mtg-maybe {
    background: var(--bg-yellow);
} */

.mtg-cannot:hover,
.mtg-can:hover,
.mtg-maybe:hover {
    cursor: pointer;
}